.text-brand {
  color: var(--color-primary-light);
}

.text-capitalize {
  text-transform: capitalize;
}

.text-detailed {
  font-size: 22px;
  line-height: 1.7;

  &--bold {
    font-weight: 700;
  }
}
