:root {
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-white: #ffffff;
  --color-secondary-grey: #4a4a4a;
  --color-secondary-light-grey: #747272;
  --color-secondary-black: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
