.about-section {
  padding-top: 0;
  padding-bottom: 104px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 0;
    padding-bottom: 176px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }

  &__text-content {
    padding-top: 0;

    @media screen and (min-width: $bp-desktop) {
      padding-top: 40px;
    }
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    max-width: 264px;

    @media screen and (min-width: $bp-tablet) {
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-weight: 700;
      max-width: 529px;
      margin-bottom: 40px;
    }
  }

  &__content {
    max-width: 710px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.about-img {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row-reverse;
  }

  &__container {
    display: flex;

    &:first-child {
      align-items: flex-end;
    }
  }

  &__photo {
    height: 328px;
    border-radius: 50%;
  }
}
