.advantages-section {
  padding-top: 0;

  &__title {
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto 24px;
    max-width: 210px;

    @media screen and (min-width: $bp-tablet) {
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-weight: 700;
      margin: 0 auto 48px;
      max-width: 432px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: center;
      gap: 56px;
    }
  }
}
