.footer {
  position: relative;
  overflow: hidden;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-background.png");
  background-position: center top;

  @media screen and (min-width: $bp-tablet) {
    padding: 56px 0;
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 42px;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__logo,
  &__copyright,
  &__nav-container {
    flex-grow: 1;
  }

  &__nav-list {
    margin-bottom: 16px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }

    &--limited {
      display: none;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }
  }

  &__contact-info {
    fill: var(--color-primary-white);
    margin-top: 0;

    @media screen and (min-width: $bp-tablet) {
      margin-top: 16px;
    }
  }

  &__nav-item {
    font-size: 16px;
    color: var(--color-primary-white);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    gap: 16px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__adress {
    flex-basis: 50%;
  }

  &__adress-copyright {
    flex-basis: 50%;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    color: var(--color-primary-white);
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__text-copyright {
    color: var(--color-secondary-light-grey);
    font-size: 13px;
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__bottles {
    display: none;
    position: absolute;
    right: -50px;
    bottom: -61px;
    width: 300px;
    height: 100%;
    background-image: url("../images/footer-bottles.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
