.hero-section {
  padding: 72px 0px;
  background-image: url(../images/fon.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $bp-desktop) {
    padding: 127px 0px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../images/fon@2.webp");
  }

  &__content {
    max-width: 529px;

    @media screen and (min-width: $bp-tablet) {
      padding-left: 106px;
    }
  }

  &__title {
    color: var(--color-primary-light);
    font-family: "Play", sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 0.8;
    text-transform: capitalize;
    margin-bottom: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      font-size: 140px;
      margin-bottom: 40px;
    }
  }

  &__text-up {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      text-align: left;
      font-size: 18px;
    }
  }

  &__text-down {
    color: var(--color-secondary-grey);
    font-size: 11px;
    line-height: 1.5;
    max-width: 238px;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      font-size: 12px;
      margin: 0;
    }
  }
}
