.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-white);
  transform: translateX(100%);
  transition: transform 0.5s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    background-image: url(../images/close-btn-burger.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 20px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
}
