.procedure-section {
  &__title {
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 48px;
    }
  }

  &__content {
    overflow: hidden;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__list {
    margin-bottom: 32px;
  }
  &__buttons {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
