.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }
}

.sections-container {
  background-image: url(../images/background-gradient.jpeg);
  background-position: center 395px;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: $bp-tablet) {
    background-position: center 590px;
  }
}
