@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2");
}

:root {
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-white: #ffffff;
  --color-secondary-grey: #4a4a4a;
  --color-secondary-light-grey: #747272;
  --color-secondary-black: #000000;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary-dark);
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

/* Links */
.nav-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-primary-light);
}

/* Buttons */
.call-button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  border: 2px solid var(--color-primary-light);
  border-radius: 32px;
  background-color: var(--color-primary-light);
  color: var(--color-primary-white);
  margin-bottom: 14px;
  padding: 16px 32px;
}

.call-button:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
  cursor: pointer;
}

/* Icons */
.icon-header {
  fill: var(--color-primary-dark);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 32px 0px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 56px;
}

.header-social {
  display: flex;
  gap: 43px;
}

/* Hero section */
.hero-container {
  padding-left: 106px;
  padding-bottom: 127px;
}

.hero-content {
  max-width: 529px;
}

.hero-section {
  padding: 127px 0px;
  background-image: url(../images/fon.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.hero-text-up {
  margin-bottom: 16px;
}

.hero-text-down {
  color: var(--color-secondary-grey);
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
}

/* Sections container */
.sections-container {
  background-image: url(../images/background-gradient.jpeg);
  background-position: center 590px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* About section */
.about-section {
  padding-top: 0;
  padding-bottom: 176px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.about-text-content {
  padding-top: 40px;
}

.about-title {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  max-width: 529px;
}

.about-title span {
  color: var(--color-primary-light);
  text-transform: capitalize;
}

.about-content p {
  color: var(--color-primary-dark);
  font-size: 22px;
  line-height: 1.7;
  max-width: 709px;
  margin-bottom: 40px;
}

.about-content p:last-child {
  margin-bottom: 0px;
}

.about-text span {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: capitalize;
}

.about-img {
  display: flex;
  flex-direction: row-reverse;
}

.about-img-container {
  display: flex;
}

.about-img-container:first-child {
  align-items: flex-end;
}

.about-photo {
  display: flex;
  width: 343px;
  height: 328px;
  border-radius: 50%;
}

.about-photo:last-child {
  align-items: flex-end;
}

/* Advantages section */
.advantages-section {
  padding-top: 0;
}

.advantages-title-container {
  display: flex;
  flex-direction: column;
}

.advatages-title {
  color: var(--color-primary-dark);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.advatages-title span {
  color: var(--color-primary-light);
}

.advantages-content {
  display: flex;
  flex-direction: column;
}

.advantages-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 328px;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  color: var(--color-secondary-black);
  line-height: 1.3;
}

.advantages-card {
  display: flex;
  align-items: flex-end;
}

.advantages-card-content {
  background-color: var(--color-primary-white);
  border-radius: 32px;
  width: 316px;
  height: 181px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  padding: 32px;
  text-align: center;
}

.advantages-icon {
  fill: var(--color-primary-light);
}

/* Procedure section */
.procedure-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.procedure-list {
  display: flex;
  gap: 16px;

}

.procedure-item {
  flex-basis: calc((100% - 16px) / 3);

}

.procedure-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.procedure-title {
  color: var(--color-primary-dark);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.procedure-title span {
  color: var(--color-primary-light);
}

.procedure-img {
  border-radius: 120px 4px 120px 4px;
  width: 344px;
  height: 456px;
  object-fit: cover;
}

.card-text-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-white);
  fill: var(--color-primary-white);
}


/* Adress section */
.adress-section {
  padding-bottom: 96px;
}

.adress-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.adress-title {
  color: var(--color-primary-dark);
  font-family: "Play";
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.adress-title span {
  color: var(--color-primary-light);
}

.adress-map {
  border: transparent;
  border-radius: 32px;
  width: 100%;
  max-width: 605px;
  height: 481px;
}

.adress-form {
  border: 4px solid rgb(1, 31, 74);
  border-radius: 32px;
  background: rgb(1, 28, 68);
  max-width: 423px;
}

.form-content {
  padding: 48px 56px;
}

.adress-text {
  color: var(--color-primary-white);
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

.adress-text span {
  color: var(--color-primary-light);
}

/* Footer */
.footer {
  padding: 56px 0;
  background-color: var(--color-primary-dark);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.nav-footer {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.adress-copyright,
.footer-nav-container {
  flex-grow: 1;
}

.nav-item {
  font-size: 16px;
  color: var(--color-primary-white);
  text-decoration: none;
}

.nav-item:hover {
  color: var(--color-primary-light);
}

.contact-container {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.adress-footer,
.adress-copyright {
  flex-basis: 50%;
}

.contact-link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  color: var(--color-primary-white);
}

.contact-link:hover {
  color: var(--color-primary-light);
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  color: var(--color-primary-white);
}

.contact-info {
  fill: var(--color-primary-white);
}

.footer-copyright {
  color: var(--color-secondary-light-grey);
  font-size: 13px;
}