.form-field {
  &__label {
    display: block;
  }

  &__input {
    color: var(--color-primary-white);
    font-size: 13px;
    line-height: 15px;
    max-width: 310px;
    width: 100%;
    padding: 18px 33px;
    border-radius: 32px;
    border: 2px solid rgb(116, 114, 114);
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 24px;
    display: block;

    &:focus {
      background-color: rgb(116, 114, 114);
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-white);
    }

    &:focus::placeholder {
      background-color: rgb(116, 114, 114);
    }
  }

  &__terms-text {
    max-width: 212px;
    margin: 0 auto;
    color: var(--color-secondary-light-grey);
    font-size: 12px;
    text-align: center;
  }

  &__terms-text-link {
    color: var(--color-secondary-light-grey);
    text-underline-offset: 2px;
  }
}
