.star {
  position: relative;

  @keyframes rotateAndScale {
    0%,
    100% {
      transform: rotate(0deg) scale(1);
    }

    50% {
      transform: rotate(360deg) scale(1.5);
    }
  }

  &__star-1 {
    position: absolute;
    left: -95px;
    top: 549px;
    transform: rotate(90deg);
    animation: rotateAndScale 3s infinite linear;

    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      left: 298px;
      right: 50px;
      top: 354px;
      bottom: 50px;
      transform: rotate(90deg);
      animation: rotateAndScale 3s infinite linear;
    }
  }

  &__star-2 {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      left: 689px;
      right: 50px;
      top: 8px;
      bottom: 50px;
      transform: rotate(90deg);
      animation: rotateAndScale 3s infinite linear;
    }
  }

  &__star-3 {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      left: 668px;
      right: 50px;
      top: 174px;
      bottom: 50px;
      transform: rotate(90deg);
      animation: rotateAndScale 3s infinite linear;
    }
  }
}
